img {
    width: 140px;
    height: 240px;
    text-align: center;
    padding: 10px;
}

h3 {
    height: 80px;
}

#wrap {
    margin-block-start: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 1em;

}

#wrapEllement {
    display: grid;
    border: 1px solid palegoldenrod;
    grid-template-columns: 1fr 1fr
}

