html, body {
    overflow: hidden;
}
.parent {
    min-height: 90vh;
    margin: 2px;
    color: white;
    flex-direction: column;
}
.margin{
    margin: 2px;
}
.child div{
    background-color: #16457a;
}
.widgets{
    height: 150px;
}
.contact{
    height: 200px;
}
/*flex-grow: 1*/
.fg1{
    flex-grow: 1;
}
/*display: flex*/
.df{
    display: flex
}
/*background-color*/
.bgc{
    background-color: #2269bb;
}
/*center*/
.midl{
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}