a {
    text-decoration: none;
}

.header__menu-buttter {
    display: none;
    width: 31px;
    flex-direction: column;
    row-gap: 4px;
}
.header__menu-buttter div{
    height: 3px;
    background: #FF7400;
    border-radius: 50px;
}

.color_white {
    color: white;
}

.wrapper {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 20px;
}

.header {
    height: 100vh;
    background: url("../image/hero_image.jpg") no-repeat center/cover;
    z-index: 0;
}

.header__top {
    padding-block-start: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu {
    display: flex;
    align-items: center;
    height: 70px;
}

.header_nav {
    display: flex;
    column-gap: 20px;
    align-items: center;
    padding-right: 20px;
}

.header_nav-item a {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: white;
}

.contact {
    border-left: 2px solid white;
    padding-left: 20px;
    display: flex;
    padding-inline: 20px;
    align-items: center;
    column-gap: 45px;;
}

.contact__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    width: 155px;
    height: 70px;
}

.contact__phone p {
    margin: 0;
}

button {
    background-color: #FF7400;
    padding: 0 19px;
    height: 47px;
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    border: none;
    color: white;
    cursor: pointer;
}

.header__main {
    margin: 0 0 0 176px;
    font-weight: normal;
    color: #D67E35;
    margin-block-start: 7%;
    max-width: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header__main h2 {
    font-size: 50px;
    line-height: 57px;
    margin: 0;
}

.header__main h1 {
    font-size: 77px;
    line-height: 92px;
    margin: 0;
}

.header__main p {
    font-size: 18px;
    line-height: 25px;
    color: white;
    /*margin: 0;*/
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__main p::before, .header__main p::after {
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background-color: #C4C4C4;
    margin-inline: 8px;
}



.intro {
    display: flex;
    column-gap: 31px;
    position: relative;
    top: -100px;
    z-index: 1;
}
.intro__img{
    margin-block-start: 48px;
}
.intro__img img{
    height: 87px;
    width: 87px;
}
.intro__item {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.1);
    width: 350px;
    height: 330px;
}
.intro__item h2{
    margin: 0;
}
.intro__item h2 span {
    color: #BC9060;
    font-size: 26px;
    line-height: 30px;
}

.intro__item p {
    color: #656363;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    margin-block-start: 20px;
}

.story__wrap{
    display: flex;
    justify-content: space-between;
}
.story__discover{
    width: 444px;
    height: 422px;
    text-align: center;
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
}
.story__text h2{
    font-size: 54px;
    line-height: 62px;
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
}
.story__text h2 span{
    color: #D67E34;
}
.story__text p{
    font-size: 16px;
    line-height: 22px;
    color: #656363;
}
.counter__number{
    font-size: 40px;
    line-height: 54px;
    color: #BC9060;
}
.counter__descriptiion{
    font-size: 20px;
    line-height: 27px;
}
.story__discover-counter{
    display: flex;
    justify-content: space-evenly;
}
.story__bg{
    height: 357px;
    background-image: url("../image/story_bg.png");

}
.story__text-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.story__bg-text{
    color: #ffffff;
    width: 601px;
    height: 173px;
}
.story__bg-text h3{
    margin: 0;
    font-family: Tinos;
    font-style: normal;
    font-weight: normal;
    font-size: 52px;
    line-height: 60px;
    color: #D67E34;
}
.story__bg-text p{
    margin: 0;
}