body {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    color: #0F2438;
}

p {
    margin: 0 !important;
}

a {
    text-decoration: none;
    color: #0F2438;
}

a:hover, a:focus {
    color: #0F2438;
}

.header__black_row-wrap {
}

.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand, .navbar-nav .nav-link {
    font-size: 14px;
    line-height: 16px;
    color: #ffffff !important;
}

.header {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header__black_row {
    background: #0F2438;
    font-size: 14px;
    line-height: 16px;
}

.header__black_row-left {

}

.header__black_row-right {

}

.header__about {
    padding: 20px 24px;
}

.header__about-firm {
    width: 246px;
}

.header__about-firmName h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

.header__about-firmName p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.header__about-work img, .header__about-adress img {
    width: 32px;
    height: 32px;
}

.header__about-workTime p {
    margin-left: 10px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    text-align: right;
    width: 216px;
}

.header__about-adress p {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
}
.header__about_tel-block{
    flex-basis: 430px;
}

.header__about-WhatsApp {
    background: #E1EFD0;
    border-radius: 2px;
    width: 204px;
    height: 30px;
}

.header__about-WhatsApp:hover {
    cursor: pointer;
}

.header__about-WhatsApp img {
    width: 9px;
    height: 9px;
}

.header__about-WhatsApp p {
    margin-left: 6px !important;
    font-family: Rubik, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.header__about-telefon {
    width: 157px;
}

.header__about-telefon a {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.header__about-telefon p {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    text-align: right;
}

.header__thirdLine {
    padding-block-end: 20px;
}

.header__thirdLine-seach {
}

.header__thirdLine-Katalog {
    width: 165px;
    margin-right: 43px;
}

.header__thirdLine-Katalog,
.header__thirdLine-seachBTN {
    background: #005BB9;
    border-radius: 6px;
    height: 53px;
    font-weight: bold;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.header__thirdLine-seachBTN {
    width: 101px;
    border-radius: 0 6px 6px 0;
}

.header__thirdLine-Katalog::before {
    content: "";
    background-image: url("../img/buter.png");
    width: 20px;
    height: 13px;
    margin-right: 12px;
}

.header__thirdLine input {
    font-size: 14px;
    line-height: 16px;
    color: #C2C5DA;
    background: #F4F5FA;
    border-radius: 6px 0 0 6px;
    border-color: #F4F5FA;
    width: 470px;
    padding-left: 19px;
}


.header__thirdLine-profile img {
    width: 28px;
    height: 28px;
    margin-right: 16px;
}

.header__thirdLine-profile-p {
    font-size: 12px;
    line-height: 16px;
    text-align: start;
    width: 70px;

}

.header__thirdLine-profile-item {
    /*padding-left: 15px;*/
}

.header__thirdLine-profile-favorites::before,
.header__thirdLine-profile-favorites::after {
    content: "";
    border: 1px solid #E1E5F8;
    background-color: #E1E5F8;
    width: 0;
    height: 28px;
    margin-inline: 25px;
}

.header__thirdLine-profile-login p {
    width: 40px !important;
}


.carous {
    padding-block-start: 29px;
    height: 400px;
}

.carousel {
    width: 1008px;
}

.carousel-control-prev-icon {
    background-image: url("../img/prew.png");
    width: 40px;
    height: 40px;
}

.carousel-control-next-icon {
    background-image: url("../img/next.png");
    width: 40px;
    height: 40px;
}


.carousel-item-content {
    left: 12%;
    width: 796px;
    padding: 0;
    margin: auto;
    text-align: start;
}

.carousel-item-content img {
    width: 417px;
}

.carousel__text-block {
    width: 327px !important;

}

.carousel-caption {
    bottom: 0.25rem !important;
}

.carousel__text-block h2 {
    font-weight: 500;
    font-size: 36px;
    line-height: 42px;
    color: #0A1A2C;
}

.carousel__partnum {
    font-size: 20px;
    line-height: 23px;
    text-decoration-line: underline;
    color: #717171;
}

.carousel__price{
    margin: 25px 0 15px 0 !important;

}
.carousel__price-new {
    font-weight: 500;
    font-size: 37px;
    line-height: 43px;
    color: #005BB9;
    margin-inline-end: 10px;
}

.carousel__price-old {
    font-size: 22px !important;
    line-height: 26px !important;
    text-decoration-line: line-through !important;
    color: #C2C5DA !important;
}

.carousel__text-block button {
    background: #005BB9;
    border-radius: 6px;
    width: 160px;
    height: 49px;
}

.carousel-indicators [data-bs-target] {
    border-radius: 50%;
    height: 10px;
    flex: 0 1 10px;
    opacity: 1;
}

.carousel-indicators .active {
    background-color: #0F2438;
}


.promo__items {
    margin: 0 0 10px 10px;
    padding: 20px 15px;
    background: #F4F5FA;
    border-radius: 10px;
    width: 336px;
    height: 179px;
    position: relative;
}

.promo__items h3 {
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #0F2438;
}

.promo__items button {
    width: 57px;
    height: 49px;
    background: #005BB9;
    border-radius: 6px;
    border: none;
    position: absolute;
    bottom: 15px;
    right: 15px;
}

.promo__item img {
    width: 80px;
    height: 74px;
}

.promo__item-info {
    margin-left: 15px;
}

.promo__item-info h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
    color: #0A1A2C;
}

.promo__item-part {
    font-size: 12px;
    line-height: 14px;
    color: #525252;
}

.promo__item-price {
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #FFB800;
    margin-block-start: 20px !important;
}

.promo__item-price span {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
}


.block__slides-item {
    margin-block-start: 70px;
    background: #FFFFFF;
    border: 1px solid #E1E5F8;
    box-sizing: border-box;
    border-radius: 6px;
    max-width: 431px;
    max-height: 184px;
    overflow: hidden;
}

.slides-item-text {
    color: #0A1A2C;
    width: 175px;
    /*max-height: 125px;*/
    margin: 30px;
}

.slides-item-text h2 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
}

.slides-item-text p {
    margin-block: 11px !important;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.slides-item-btn {
    background: #005BB9;
    border-radius: 4px;
    width: 86px;
    height: 26px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    text-align: center;
}

.block__slides-item img {
    position: relative;
    right: -11px;
}

.block__slides-wrap::before {
    content: "";
    background-image: url("../img/prew.png");
    /*border-color: black;*/
    max-width: 20px;
    max-height: 20px;
    position: absolute;
    z-index: 1;
}

.block__slides-wrap::after {
    content: "";
    background-image: url("../img/prew.png");
    width: 20px;
    height: 20px;
    position: absolute;
    z-index: 1;
}



.button__block {
    padding-top: 70px;
    padding-bottom: 30px;

}

.button__block button, .my-btn button {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    border: 2px solid #005BB9;
    background-color: white;
    box-sizing: border-box;
    border-radius: 6px;
    color: #005BB9;


}

.btn-big {
    width: 241px;
    height: 55px;
}

.btn-smoll {
    margin-inline: 18px !important;
    width: 123px;
    height: 55px;
}

.button__block .active {
    color: white !important;
    background-color: #005BB9 !important;
}

/*.basket::before{*/
/*    content: "";*/
/*    background-image: url("../img/basket.png");*/
/*    position: absolute;*/
/*    width: 17px;*/
/*    height: 17px;*/
/*}*/

.products{
    overflow:hidden;

}
.product{

}
.product__item-promo {
    width: 40px;
    height: 20px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    background: #FFB800;
    border-radius: 2px;
    position: absolute;
    top: 0;
}

.product__item {
    max-width: 316px;
    height: auto;
}

.product__item-image {
    width: 276px;
    height: 222px;

}

.product__item-bnt .basket {
    color: white !important;
    background: #005BB9;
    border-radius: 6px;
    width: 160px;
    height: 49px;
}

.product__item-bnt .basket img {
    margin-inline-end: 8px;
    margin-block-end: 3px;
}

.market_functuation, .favorite{
    margin-inline-start: 20px;
    height: 21px;
    width: 21px;
}

.rating {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFB800;
    margin-block: 12px;
}

/*.rating::after {*/
/*    content: '💔';*/
/*    line-height: 1;*/
/*    vertical-align: top;*/
/*    position: absolute;*/
/*    left: 0;*/
/*}*/
.rating img{
    margin-inline-end: 3px;
    width: 16px;
    height: 16px;
}
/*.rating::before {*/
/*    content: '';*/
/*    background-image: url("../img/Star 2.png");*/
/*    height: 17px !important;*/
/*    vertical-align: top;*/
/*    left: 0;*/
/*    position: fixed;*/
/*    top: 0;*/
/*    display:block;*/
/*    z-index: 1;*/
/*}*/

.rating span {
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #B0B0B0;
    margin-block-start: 8px;
}

.product__item h3 {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    color: #0A1A2C;
}

.product__item .price_block {
    margin-block-start: 25px;
    margin-block-end: 20px;
}

.price {
    height: 26px;
    font-size: 13px;
    line-height: 15px;
    color: #000000;
}

.qwery {
    font-size: 13px;
    line-height: 15px;
    color: #005BB9;
    margin-inline-start: 4px;

}

.new_price {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: #FFB800;
}

.old_price {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: #C2C5DA;
    margin-inline-start: 8px;
}

.hr {
    height: 2px;
    background: #E1E5F8;
    margin-block: 40px;
}

.my-btn {
    padding-block-start: 40px;
    padding-block-end: 80px;
}


.news__h3 {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    text-transform: uppercase;
}

.line {
    background: #F5F5F5;
    height: 9px;
}

.news__item {
    width: 284px;
}

.news__date {
    margin-block-start: 20px;

    width: 106px;
    height: 22px;
    background: #0C1A2A;
    border-radius: 4px;
    color: white;
    text-align: center;
}

.news__link {
    margin-block-start: 15px;
    margin-block-end: 20px;
}

.news__link a {
    font-size: 16px;
    line-height: 19px;
    color: #005BB9;
    text-decoration-line: underline;

}

.news__text {
    font-size: 16px;
    line-height: 20px;
}

footer {
    margin-block-start: 120px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    background: #0C1A2A;
    height: 408px;
}

.footer__content-item {
    margin-block-start: 36px;
    flex-basis: 200px;
}

.footer__content-info {
    flex-basis: auto;
}

.card__visa {
    margin-block-start: 45px;
    margin-block-end: 47px;

}

.footer__content-item:last-child {
    flex-basis: 470px;
}

.footer__content-item h4 {
    font-size: 18px;
    line-height: 21px;
    color: #868DAC;
}

.footer__content-item p {
    margin-block: 14px !important;
}

.footer__content-telefon {
    /*flex-basis: 125px;*/
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.footer__content-adress {
    flex-basis: 239px;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.footer__content-form {
    margin-block-start: 9px;
    margin-block-end: 23px;
}

.footer__font {
    font-size: 18px;
    line-height: 21px;
    color: #858CAB;
}

.footer__font span {
    color: #FFFFFF;
}

.footer__content-subscribe p {
    margin-block-end: 19px;

}

.footer__email {
    margin-block-start: 19px;
}

.footer__email input {
    flex-basis: 293px;
    border: 1px solid #203246;
    box-sizing: border-box;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    color: #ADBDD1;
    background: #0C1A2A;
}

.footer__email div {
    width: 177px;
    height: 40px;
    background: #005BB9;
    border-radius: 0 6px 6px 0;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.messenger {

}

.messenger img {
    margin-block-start: 27px;
    margin-inline-start: 55px;
}


.footer__firm {
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #737E9B;
    background: #0E1E2F;
}